@using Factory.Models;

<h1>Engineers</h1>

<ul>
  @foreach(Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.FirstName}", "Details", new { id = engineer.EngineerId })</li>
  }
</ul>

<p class="btn btn-dark btn-md btn-block">@Html.ActionLink("Add new engineer", "Create")</p>
<p class="btn btn-dark btn-md btn-block">@Html.ActionLink("Home", "Index", "Home")</p>